*{
    padding:0px;
    margin:0px;
}
.trend{
    position: relative;
    top: 55px;
    right: -1247px;
    color: white;
    background-color: #f7560b9f;
    border: 5px solid white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    Z-INDEX: 1;
    MARGIN-TOP: 68PX;
    font-size: 257%;
    whith: -30%;
    height: 52%;
}

.img-1,img{
    position: absolute;
    width: 88.5%;
    height: 900px;
    right:-2%;
    z-index: 2%;
    top: 10px;
    left: 160px;
}
.black-1{
    background-color: rgba(107, 102, 102, 0.229);
    width: 100%;
    height: 1448px;
    top: 50px;
    z-index: 0%;
    position: absolute;
    

}
.orang-1{
    background-color: rgba(255, 81, 0, 0.47);
    width: 60%;
    height: 1068px;
    z-index: 4%;
    position: absolute;
    top: 10px;
    left: -61px; 

}
.line-1{
    background-color: white;
    color: white;
    width: 168.5%;
    height: 15px;
    margin: 50px;
    margin-left: 50px;
    margin-top: -6%;
    
}
.line-2{
    background-color: white;
    width: 15%;
    height: 15px;
    margin: 50px;
    margin-top: 81px;
}
.bi{
    color: white;
    margin-left: 50px;
    font-size: 3em;
    margin-top: -3%;
    
}
.bi,h6{
    margin-left: 12.5%;
    margin-top: -27px;

}
.text-1{
    text-align: justify;
    font-size: 73%;
    width: 604px
}
.busseiness{


}
.blue{
    background-color: rgba(53, 171, 177, 0.414);
    width: 90%;
    height: 925px;
    position: absolute;
    z-index: 5%;
    right: -75%;
    bottom: -27%;
    top: 553px;
}
.blue.p{
    text-align: justify;
    width: 331px;
   
}

.na_1{
 font-size: 20PX; 
 MARGIN-LEFT: 29%;
 color: white;  
}
.line-3{
    background-color: aliceblue;
    width: 2%;
    height: 843px;
    margin-top: -31%;
    margin-left: 19%;
}
.hr{
  background-color: aquamarine;
    width: 44%;
    height: 3px;
    margin-top: 4%;
    margin-left: 41%;
}
.hr-1{
    background-color: rgba(21, 20, 27, 0.655);
    width: 44%;
    height: 3px;
    margin-top: 0%;
    margin-left: 41%;
}
.link-1{
    margin-top: 13px;
    margin-left: 406px;
    color: white;
}

.graphics{
    color: white;
    width: 10%;
    height: 20%;
    margin-top: -30%;
    margin-left: 24%;
    font-size: 16px;
    
}
.main-icon{
margin-left:80px;
padding: 10px;


}
.location{
    color: white;
    padding: 32px;
    margin-top: -165px;
   
}
.contac{
    color: white;
    padding: 32px;
    margin-top: -23px;
}
    

.email{
    color: white;
    margin-left: 19px;
}  
